h1,h2 {
  text-align: center;
}

#instructions {
  width: 50%;
  float: left;
  margin-bottom: 3.0rem;
}

#program {
  width: 25%;
  float: left;
}
#output {
  width: 25%;
  float: left;
}

#results {
  color:red;
}
